body {
    background-image: url('../resources/bee.webp');
    background-repeat: no-repeat;
    background-size: 100%;
}

.clock{
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 30% auto;
}

.clock span {
    -webkit-text-stroke: 2px black;
}